.scrollContainer {
  overflow-y: auto;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0 transparent;

  /* WebKit browsers */
  &::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }

  /* REMOVE ARROWS (important) */
  &::-webkit-scrollbar-button:single-button {
    display: block;
    width: 0;
    height: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #9a9a9a;
  }
}
